<p>
  <strong>Portfolio Name:</strong>
  <%= @portfolio.portfolio_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio.description %>
</p>
<table>
  <tr>
    <th>Number of Cryptos</th>
    <th>BTC Value</th>
    <th>USD Value</th>
    <th>Total 1H Change</th>
    <th>Total 24H Change</th>
    <th>Total 1W Change</th>
  </tr>

  <% total_btc_value, total_fiat_value, total_1h_change, total_24h_change, total_7d_change = 0, 0, 0, 0, 0 %>
  <% number_of_cryptos = @portfolio.cryptos.length %>

  <% @portfolio.cryptos.each do |crypto| %>
    <% @cryptos_data.each do |api| %>
      <% if crypto.crypto == api["id"] %>
        <% total_btc_value += api["price_btc"].to_f * crypto.amount %>
        <% total_fiat_value += api["price_usd"].to_f * crypto.amount %>
        <% total_1h_change += api["percent_change_1h"].to_f %>
        <% total_24h_change += api["percent_change_24h"].to_f %>
        <% total_7d_change += api["percent_change_7d"].to_f %>
      <% end %>
    <% end %>
  <% end %>

  <tr>
    <td><%= "#{number_of_cryptos}" %></td>
    <td><%= "₿ #{total_btc_value.round(2)}" %></td>
    <td><%= "$ #{total_fiat_value.round(2)}" %></td>
    <td><%= "% #{(total_1h_change / number_of_cryptos).round(2)}"%></td>
    <td><%= "% #{(total_24h_change / number_of_cryptos).round(2)}" %></td>
    <td><%= "% #{(total_7d_change / number_of_cryptos).round(2)}" %></td>
    <td><%= link_to 'View Cryptos', portfolio_cryptos_path(@portfolio) %></td>
  </tr>
</table>

<%= link_to 'Back', portfolios_path %>