<% @cryptos_data.each do |api| %>
  <% if @crypto.crypto == api["id"] %>
    <p>
      <strong>Crypto:</strong>
      <%= api["name"] %>
    </p>

    <table>
      <tr>
        <th>Amount</th>
        <th>Current BTC Price</th>
        <th>BTC Value</th>
        <th>USD Value</th>
        <th>1H Change</th>
        <th>24H Change</th>
        <th>1W Change</th>
      </tr>
      <tr>
        <td><%= @crypto.amount %></td>
        <td><%= "#{api["price_btc"]}" %></td>
        <td><%= "₿ #{(api["price_btc"].to_f * @crypto.amount).round(5)}" %></td>
        <td><%= "$ #{(api["price_usd"].to_f * @crypto.amount).round(2)}" %></td>
        <td><%= "% #{api["percent_change_1h"]}" %></td>
        <td><%= "% #{api["percent_change_24h"]}" %></td>
        <td><%= "% #{api["percent_change_7d"]}" %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<%= link_to 'Back to Portfolio', portfolio_cryptos_path(@portfolio) %> |
<%= link_to 'Update', edit_portfolio_crypto_path(@crypto.portfolio, @crypto) %>